.center {
  text-align: center;
}

.small-txt,
.small-txt-dark {
  font-size: 0.88rem;
  font-weight: bold;
}

.small-txt {
  color: white;
}

.small-txt-dark {
  color: #29221b;
}

.big-txt-dark,
.big-txt-light {
  font-weight: 300;
  font-size: 2.5rem;
}

.big-txt-dark {
  color: #29221b;
}

.big-txt-light {
  color: white;
}

.big-txt-dark {
  color: #29221b;
}

.med-txt-light {
  color: #cfcfcf;
  font-size: 1.5rem;
}

@media (min-width: 69.4rem) {
  .small-txt {
    font-size: 1.25rem;
  }
  .big-txt-dark,
  .big-txt-light {
    font-size: 3.125rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Catamaran", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 69.4rem;
}

.header-txt,
.header-txt-light {
  padding-top: 7.8rem;
  display: inline-block;
  margin: 1.25rem;
}

.header-txt {
  border-bottom: 0.25rem solid #00aaff;
}

.header-txt-light {
  border-bottom: 0.25rem solid #fff;
}

header {
  background-color: #222f2c;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  background-color: #e7e7e7;
  height: 5rem;
  padding: 1.25rem 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container a {
  color: #29221b;
}

footer .container a img {
  height: 50px;
}

header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.6rem;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header a:hover {
  color: #00aaff;
}

main {
  background-image: url("/imgs/caspar-camille-rubin-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 40rem;
  position: relative;
  z-index: 0;
}

main .med-txt-light {
  margin-bottom: 1rem;
}

main .txt-dec {
  color: white;
  border-bottom: 1px solid white;
}

main .container .overlay {
  position: relative;
  text-align: center;
  padding: 11.25rem 1.25rem 0;
}

main .container .overlay .btn {
  padding: 0.06rem 3.48rem;
  background-color: #00aaff;
  color: white;
  font-weight: 200;
  border-radius: 0.75rem;
  top: 2.2rem;
  position: relative;
}

main .container .film-layer {
  position: absolute;
  background-color: #222f2c;
  top: 0;
  left: 0;
  min-height: 40rem;
  width: 100%;
  opacity: 0.65;
  z-index: 0;
}

.section-a {
  text-align: center;
}

.section-a .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2.5rem 0;
  margin-top: 2.5rem;
}

.section-a .icon-container img {
  width: 7.62rem;
}

.section-b {
  margin: 6rem 0 5rem;
}

.section-b p {
  color: #29221b;
  margin-bottom: 0.85rem;
}

.section-b .container {
  text-align: center;
}

.section-b .thumbnail-container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem 1.2rem;
  font-size: 1.25rem;
}

.section-b .thumbnail-container img {
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  max-width: 22.2rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-b .thumbnail-container img:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.section-c {
  padding: 5rem 0 5rem;
  margin: 12rem 0 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00aaff;
  text-align: center;
  color: #fff;
}

.section-c .big-txt-light {
  padding: 0 0;
  margin: 0 0 3rem;
}

.section-c .container {
  padding: 0rem 1.25rem 0;
}

.section-c .about-txt {
  text-align: center;
  font-size: 1.375rem;
  font-weight: lighter;
  max-width: 61rem;
  line-height: 2.5rem;
}

.section-c a {
  border-bottom: 0.15rem solid #fff;
  color: #fff;
  height: 1px;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .top-section *,
.contact .container .bottom-section * {
  display: block;
}

.contact .container .top-section {
  margin: 5.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .container .bottom-section {
  margin-top: 2.85rem;
}

.contact .container .input-container {
  font-size: 1.25rem;
  margin: 0 1rem;
}

.contact .container .input-container label,
.contact .container .input-container input {
  color: #868686;
  font-weight: 100;
}

.contact .container .input-container input,
.contact .container .input-container textarea {
  min-width: 19rem;
}

.contact .container .input-container textarea {
  width: 100%;
}

.contact .container .input-container input {
  padding: 0.45rem 0.5rem;
}

.contact .container .input-container .special-btn {
  margin: 1.2rem 0 5.45rem;
  max-width: 4.6rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #00aaff;
  color: #fff;
}

@media (min-width: 69.4rem) {
  header {
    height: 5rem;
  }
  header .container {
    padding: 0;
  }
  .section-a .icon-container img {
    width: 9.62rem;
  }
  .section-c {
    margin: 12rem 0 21rem;
  }
  .section-c .container .about-txt {
    text-align: left;
    font-size: 2rem;
    line-height: 150%;
    font-weight: lighter;
    max-width: 51rem;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .container .captcha {
    margin-top: 0.75rem;
  }
  .contact .container .top-section *,
  .contact .container .bottom-section * {
    display: block;
  }
  .contact .container .top-section {
    margin: 5.5rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact .container .input-container {
    font-size: 1.25rem;
    margin: 0 1rem;
  }
  .contact .container .input-container label,
  .contact .container .input-container input {
    color: #868686;
    font-weight: 100;
  }
  .contact .container .input-container input,
  .contact .container .input-container textarea {
    width: 28rem;
  }
  .contact .container .input-container textarea {
    width: 100%;
  }
  .contact .container .input-container input {
    padding: 0.45rem 0.5rem;
  }
  .contact .container .input-container .special-btn {
    margin: 1.2rem 0 5.45rem;
    max-width: 1.6rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #00aaff;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */