// Mobile section
// resets
@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: "Catamaran", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 69.4rem;
}

.header-txt,
.header-txt-light {
  padding-top: 7.8rem;
  display: inline-block;
  margin: 1.25rem;
}

.header-txt {
  border-bottom: 0.25rem solid $main-accent;
}
.header-txt-light {
  border-bottom: 0.25rem solid #fff;
}

// nav

header {
  background-color: $header-clr;
  box-shadow: $b-shadow;
}

footer {
  text-align: center;
  background-color: $footer-clr;
  height: 5rem;
  padding: 1.25rem 0;

  .container {
    display: flex;
    justify-content: center;
    a {
      color: $big-txt-dark;
      img {
        height: 50px;
      }
    }
  }
}

header {
  height: 4rem;
  display: flex;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.6rem;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease-in;
    &:hover {
      color: $main-accent;
    }
  }
}

main {
  background-image: url("/imgs/caspar-camille-rubin-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 40rem;
  position: relative;
  z-index: 0;

  .med-txt-light {
    margin-bottom: 1rem;
  }

  .txt-dec {
    color: white;
    border-bottom: 1px solid white;
  }

  .container {
    .overlay {
      position: relative;
      text-align: center;
      padding: 11.25rem 1.25rem 0;

      .btn {
        padding: 0.06rem 3.48rem;
        background-color: $main-accent;
        color: white;
        font-weight: 200;
        border-radius: 0.75rem;
        top: 2.2rem;
        position: relative;
      }
    }
    .film-layer {
      position: absolute;
      background-color: $film-layer;
      top: 0;
      left: 0;
      min-height: 40rem;
      width: 100%;
      opacity: 0.65;
      z-index: 0;
    }
  }
}

.section-a {
  text-align: center;
  margin-bottom: 8rem;
  p {
    color: $main-accent;
  }
  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4.5rem 2.25rem;
    margin-top: 2.5rem;
    font-weight: bold;

    img {
      // width: 7.62rem;
      max-width: 6.95rem;
    }
    .icon-container {
      display: block;
    }
  }
}

.section-b {
  margin: 6rem 0 5rem;
  p {
    color: $big-txt-dark;
    margin-bottom: 0.85rem;
  }
  .container {
    text-align: center;
  }
  .thumbnail-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 1.2rem;
    font-size: 1.25rem;

    img {
      transition: transform 0.1s ease-in-out;
      max-width: 22.2rem;
      box-shadow: $b-shadow;
      &:hover {
        transform: scale(1.06);
      }
    }
  }
}

.section-c {
  padding: 5rem 0 5rem;
  margin: 12rem 0 17rem;
  .big-txt-light {
    padding: 0 0;
    margin: 0 0 3rem;
  }
  .container {
    padding: 0rem 1.25rem 0;
  }
  display: flex;
  background-color: $main-accent;
  text-align: center;
  color: #fff;
  .about-txt {
    text-align: center;
    font-size: 1.375rem;
    font-weight: lighter;
    max-width: 61rem;
    line-height: 2.5rem;
  }
  a {
    border-bottom: 0.15rem solid #fff;
    color: #fff;
    height: 1px;
  }
}

footer {
  .container {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

.contact {
  .container {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top-section *,
    .bottom-section * {
      display: block;
    }
    .top-section {
      margin: 5.5rem 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .bottom-section {
      margin-top: 2.85rem;
    }
    .input-container {
      font-size: 1.25rem;
      margin: 0 1rem;
      & label,
      & input {
        color: #868686;
        font-weight: 100;
      }
      & input,
      & textarea {
        min-width: 19rem;
      }
      & textarea {
        width: 100%;
      }
      & input {
        padding: 0.45rem 0.5rem;
      }
      & .special-btn {
        margin: 1.2rem 0 5.45rem;
        max-width: 4.6rem;
        border-radius: 0.25rem;
        border: none;
        background-color: $main-accent;
        color: #fff;
      }
    }
  }
}

// Desktop styling 1110px
@media (min-width: 69.4rem) {
  header {
    height: 5rem;

    .container {
      padding: 0;
    }
  }

  .section-a {
    .icon-container {
      img {
        max-width: 7.62rem;
      }
    }
  }

  .section-c {
    margin: 12rem 0 21rem;
    .container {
      .about-txt {
        text-align: left;
        font-size: 2rem;
        line-height: 150%;
        font-weight: lighter;
        max-width: 51rem;
      }
    }
  }

  .contact {
    .container {
      .captcha {
        margin-top: 0.75rem;
      }
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .top-section *,
      .bottom-section * {
        display: block;
      }
      .top-section {
        margin: 5.5rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .input-container {
        font-size: 1.25rem;
        margin: 0 1rem;
        & label,
        & input {
          color: #868686;
          font-weight: 100;
        }
        & input,
        & textarea {
          width: 28rem;
        }
        & textarea {
          width: 100%;
        }
        & input {
          padding: 0.45rem 0.5rem;
        }
        & .special-btn {
          margin: 1.2rem 0 5.45rem;
          max-width: 1.6rem;
          border-radius: 0.25rem;
          border: none;
          background-color: $main-accent;
          color: #fff;
        }
      }
    }
  }
  footer {
    .container {
      width: 20%;
    }
  }
}
